@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --head__menu-grid__item: #FFF0CB;
    --head__menu-grid__item__button: #FFC839;
    --head__menu-grid__item__button__active: #e6b333;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 3.4rem;
    z-index: 100;
}

.header__navigation__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: calc(8px + 10 * (100vw / 1440));
    font-weight: 400;
    color: white;
}

.header__navigation {
    width: 44%;
    margin-right: 14%;
}

@media screen and (max-width: 1000px) {
   .header__navigation {
    width: 60%;
    margin-right: 14%;
   }
}

@media screen and (max-width: 500px) {
    .header {
        padding-top: 1rem;
    }
} 

.header__navigation__item {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.2s all;
}

.header__navigation__item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: white;
    opacity: 0;
    transition: 0.2s all;
}

.header__navigation__item:hover::after {
    opacity: 1;
}

.header__navigation__item:hover {
    color: var(--head__menu-grid__item__button);
}

.head {
    width: 100%;
}

.head__background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
}

.head__background-img {
    display: block;
    width: 100%;
    position: relative;
}

.head__background::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);
}

.head__content {
    width: 90%;
    margin: 0 auto;
}

.head__text {
    padding-top: 18%;
}

.head__text-header {
    font-size: calc(12px + 48 * (100vw / 1440));
    font-weight: 700;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.head__text-additional {
    font-size: calc(5px + 22 * (100vw / 1440));
    font-weight: 400;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.head__menu {
    margin-top: 5%;
    width: 100%;
    height: 10.8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .head__menu {
        height: 5rem;
    }
}

@media screen and (max-width: 500px) {
    .head__menu {
        height: 2rem;
    }
}

.head__menu-grid {
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 500px) {
    .head__menu-grid {
        display: block;
        background-color: var(--head__menu-grid__item);
    }

    .head__menu-grid__item__button {
        margin-left: 80%;
        height: 80%;
        width: 20%;
    }
}

.head__menu-grid__item {
    background-color: var(--head__menu-grid__item);
}

.head__menu-grid__item:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 6;
}

.head__menu-grid__item:nth-child(1) {
    width: 95%;
}

.head__menu-grid__item:nth-child(3) {
    width: 95%;
}

.head__menu-grid__item__button {
    outline: none;
    border: none;
    background-color: var(--head__menu-grid__item__button);
    font-size: calc(5px + 16 * (100vw / 1440));
    cursor: pointer;
    transition: 0.2s all;
    position: relative;
}

.head__menu-grid__item__button:hover {
    background-color: #f7c037;
}

.head__menu-grid__item__button:active {
    background-color: var(--head__menu-grid__item__button__active);
}

.head__menu-grid__item__button p {
    position: relative;
    display: inline-block;
}

.head__menu-grid__item__button p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s all;
}

.head__menu-grid__item__button p:hover::after {
    opacity: 1;
}

.choise {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.choise__card {
    position: relative;
}

.choise__card__background {
    max-width: 399px;
    width: 100%;
    height: auto;
    position: relative;
}

.choise__card__background-img {
    width: 100%;
    height: auto;
}

.choise__card__footer {
    position: absolute;
    width: 100%;
    height: 24%;
    background-color: white;
    bottom: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 6 * (100vw / 1440));
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    gap: 1rem;
    box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);
}

.choise__card__footer-text {
    transform: translateX(-0.4rem);
}

.choise__card__arrow {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 600px) {
    .choise {
        flex-direction: column;
        align-items: center;
        row-gap: 10rem;
    }

    .choise__card__background {
        width: 16rem;
    }
}